# 8ì¥ Tabular data

- ì´ì¥ì˜ í•™ìŠµëª©í‘œ
    - ë°ì´ë¸”í˜•ì‹ìœ¼ë¡œ ì£¼ì–´ì§€ëŠ” ë°ì´í„°ì— ëŒ€í•œ ë¶„ì„ ë°©ë²•
    - prop.test(), binom.test(), chisq.test(), fisher.test()
    - ë²”ì£¼í˜• ë°ì´í„°ì—ì„œ ì‚¬ìš©ë¨.

## 8.1 Single proportions

- Single proportions( ë‹¨ì¼ë¹„ìœ¨ ) ê²€ì •ì€ ì‹œí–‰ N ì´ê³ , í™•ë¥ ì´ pì¸ ì´í•­ë¶„í¬ì„ ê¸°ë°˜ìœ¼ë¡œ í•¨.
- N ì´ í¬ë©´(ì‹œí–‰ì„ ë§ì´í•˜ë©´),  í‰ê· ì´ Npì´ê³  ë¶„ì‚°ì´ Np(1-p)ì¸ ì •ê·œë¶„í¬ë¡œ ê·¼ì‚¬í•¨. 
- ì´í•­ë¶„í¬ì™€ ì •ê·œë¶„í¬ì˜ ê´€ê³„ì— ëŒ€í•œ ì‹¤í—˜ => [Galton Board  ë™ì˜ìƒ](https://www.youtube.com/watch?v=AUSKTk9ENzg), [ì´ë¯¸ì§€](http://opfocus.org/index.php?topic=picture&v=13&s=2&p=2)

- í‘œê¸°ë²•
    - x : ì‹œí–‰ì„ Në²ˆ í–ˆì„ë•Œ ì„±ê³µ íšŸìˆ˜,    ë™ì „ ë˜ì§€ê¸°ë¥¼ 100ë²ˆí–ˆì„ë•Œ ì•ë©´ì´ ë‚˜ì˜¤ëŠ” íšŸìˆ˜
    - $ p_0 $ : ê°€ì„¤ ê²€ì •í• ë•Œì˜ ì„±ê³µí™•ë¥ 
- í‰ê· ì´ 0 ì´ê³ , ë¶„ì‚°ì´ 1ì¸ í‘œì¤€ì •ê·œë¶„í¬ì™€  ììœ ë„ê°€ 1ì¸ $ x^2 $ ë¶„í¬ë¡œ ê·¼ì‚¬ì ìœ¼ë¡œ ë³€ê²½ ê°€ëŠ¥í•¨.
$$ u  =  \frac{x - Np_0 } {  \sqrt{ Np_0( 1 - p_0 ) }  }   $$

#### prop.test()ì„ ì´ìš©í•œ ë¹„ìœ¨ ê²€ì •
- ë¨ë¤í•˜ê²Œ ë½‘ì€ 215ëª…ì˜ í™˜ìì¤‘ì—ì„œ 39ëª…ì´ ì²œì‹ì„ ê°€ì§€ê³  ìˆë‹¤ë©´, random patientëŠ” ì²œì‹ì„ ê°€ì§ˆ ìˆ˜ ìˆëŠ” í™•ë¥ ì´ 0.15 ì¸ì§€ ê²€ì •ì„ í•´ë³´ì.

In [3]:
prop.test( 39, 215, .15 )
39 / 215

	1-sample proportions test with continuity correction

data:  39 out of 215, null probability 0.15
X-squared = 1.425, df = 1, p-value = 0.2326
alternative hypothesis: true p is not equal to 0.15
95 percent confidence interval:
 0.1335937 0.2408799
sample estimates:
        p
0.1813953

[1] 0.1813953

- ê²€ì¦ ê²°ê³¼ì— ëŒ€í•œ í•´ì„ì„ í•´ë³´ì.~~

#### binom.test()ì„ ì´ìš©í•œ ê²€ì •
- ì´í•­ë¶„í¬ë¥¼ ì´ìš©í•´ì„œ ê²€ì •í•˜ë¯€ë¡œ ì •í™•í•œ ê²€ì •ê²°ê³¼ë¥¼ ì–»ì„ ìˆ˜ ìˆìŒ.
- ê·¸ëŸ¬ë‚˜, prop.test()ê°€ ë‹¨ì¼ë¹„ìœ¨ ê²€ì •ì— ë” ë§ì´ ì‚¬ìš©í•¨.

In [4]:
binom.test(39,215,.15)

	Exact binomial test

data:  39 and 215
number of successes = 39, number of trials = 215, p-value = 0.2135
alternative hypothesis: true probability of success is not equal to 0.15
95 percent confidence interval:
 0.1322842 0.2395223
sample estimates:
probability of success
             0.1813953

- p-valueê°€ prop.test()ì˜ ê²°ê³¼ì™€ ì¢€ ë‹¤ë¦„.

## 8.2 Two independent proportions

- 2ê°œ ì´ìƒì˜ ë¹„ìœ¨ì„ ë¹„êµí• ë•ŒëŠ” prop.test()í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•¨.
- ì´ë•Œ, 2ê°œì˜ vectorë¥¼ ì¸ìë¡œ ì£¼ê³ , ì²«ë²ˆì§¸ëŠ” ì„±ê³µíšŸìˆ˜ vector, ë‘ë²ˆì§¸ëŠ” ì‹œí–‰íšŒìˆ˜ vectorì„.
- Number of positive outcomes = (ğ’™ğŸ,ğ’™ğŸ) , 
  total number = (ğ‘µğŸ,ğ‘µğŸ) 
  Hypothesis ğ‘·ğŸ=ğ‘·ğŸ

- í‘œì¤€ì •ê·œë¶„í¬ì™€ ì¹´ì´ì œê³±ë¶„í¬ë¡œ ê·¼ì‚¬í•˜ëŠ” ë°©ë²•
![](https://upload.wikimedia.org/math/0/b/7/0b7491a8614d7808364b5a3fec9e8033.png)
![](https://upload.wikimedia.org/math/b/6/b/b6b322a96b890d51c23efb952a74d1a7.png)

In [6]:
lewitt.machin.success <- c(9,4)
lewitt.machin.total <- c(12,13)
prop.test(lewitt.machin.success,lewitt.machin.total)

	2-sample test for equality of proportions with continuity correction

data:  lewitt.machin.success out of lewitt.machin.total
X-squared = 3.2793, df = 1, p-value = 0.07016
alternative hypothesis: two.sided
95 percent confidence interval:
 0.01151032 0.87310506
sample estimates:
   prop 1    prop 2
0.7500000 0.3076923

- ê²€ì¦ ê²°ê³¼ì— ëŒ€í•œ í•´ì„ì„ í•´ë³´ì.~~
- ê²°ê³¼ë¡œ ë‚˜ì˜¤ëŠ” confidence intervalì€ ë¹„ìœ¨ë“¤ì˜ ì°¨ì´ì— ëŒ€í•œ ê°’ì„.

#### chisq.test() 
- prop.test()ì™€ ìœ¼ë¡œ p-valueì´ ì •í™•íˆ ì¼ì¹˜í•¨.
- 2 Ã— 2 table ë°ì´í„°ë¥¼ ì£¼ì–´ì¤Œ.

In [7]:
matrix(c(9,4,3,9),2)

     [,1] [,2]
[1,]    9    3
[2,]    4    9

In [1]:
lewitt.machin <- matrix(c(9,4,3,9),2)
chisq.test(lewitt.machin)

	Pearson's Chi-squared test with Yates' continuity correction

data:  lewitt.machin
X-squared = 3.2793, df = 1, p-value = 0.07016

## 8.4 ğ‘Ÿ Ã— ğ‘ tables

- 2ê·¸ë£¹ ì´ìƒì—ì„œ 2ê°€ì§€ ê²½ìš°ì— ëŒ€í•´ì„œëŠ” chisq.test()ìœ¼ë¡œ ê²€ì •ì´ ê°€ëŠ¥
- 3ê·¸ë£¹ ì´ìƒì—ì„œ 3ê°€ì§€ ê²½ìš° ì´ìƒì¼ë•ŒëŠ” ??

![](chap08_01.png)

$$  E_{ij} = \frac{n_{i.} Ã— n_{.j} }  {  n_{..} } $$ 


- ê²°í˜¼ ìƒíƒœì— ë”°ë¥¸ ì¹´í˜ì¸ ì†Œë¹„ì— ì˜í–¥ì´ ìˆëŠ”ì§€ ê²€ì •í•´ë³´ì.

In [2]:
caff.marital <- matrix(c(652,1537,598,242,36,46,38,21,218 ,327,106,67), nrow=3,byrow=T)
colnames(caff.marital) <- c("0","1-150","151-300",">300")
rownames(caff.marital) <- c("Married","Prev.married","Single")
caff.marital

               0 1-150 151-300 >300
Married      652  1537     598  242
Prev.married  36    46      38   21
Single       218   327     106   67

In [3]:
chisq.test(caff.marital)

	Pearson's Chi-squared test

data:  caff.marital
X-squared = 51.656, df = 6, p-value = 2.187e-09

- ê²€ì •ê²°ê³¼ ë§¤ìš° ìœ ì˜í•˜ë‹¤ê³  ë‚˜ì™€ì„œ ë…ë¦½ì´ë‹¤ëŠ” ê°€ì •ì´ ëª¨ìˆœëœë‹¤ê³  ê²°ë¡ ì„ ë‚´ë¦´ ìˆ˜ ìˆìŒ.
- ê²°í˜¼ ìƒíƒœì— ë”°ë¼ì„œ ì¹´í˜ì¸ ì†Œë¹„ëŸ‰ì´ ê°™ë‹¤ëŠ” ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•˜ê³ , ê²°í˜¼ ìƒíƒœì— ë”°ë¼ì„œ ì¹´í˜ì¸ ì†Œë¹„ëŸ‰ì´ ë‹¤ë¦„.

In [11]:
chisq.test(caff.marital)$expected
chisq.test(caff.marital)$observed

                     0      1-150   151-300      >300
Married      705.83179 1488.01183 578.06533 257.09105
Prev.married  32.85648   69.26698  26.90895  11.96759
Single       167.31173  352.72119 137.02572  60.94136

               0 1-150 151-300 >300
Married      652  1537     598  242
Prev.married  36    46      38   21
Single       218   327     106   67

In [7]:
E <- chisq.test(caff.marital)$expected
O <- chisq.test(caff.marital)$observed
(O-E)^2/E

                      0    1-150   151-300      >300
Married       4.1055981 1.612783 0.6874502 0.8858331
Prev.married  0.3007537 7.815444 4.5713926 6.8171090
Single       15.3563704 1.875645 7.0249243 0.6023355

- ì—¬ê¸°ì—ì„œ ê²°í˜¼ì „ì—ëŠ” ì»¤í”¼ë¥¼ ì•ˆ ë§ˆì‹œëŠ” ì‚¬ëŒì´ ë§ë‹¤ê°€ ê²°í˜¼í•˜ë©´ ë‚®ì•„ì§€ê³ , ì´í˜¼í•˜ë©´ ë” ë‚®ì•„ì§€ëŠ” ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆìŒ.
- ê²°í˜¼í•˜ë©´ ìŠ¤íŠ¸ë ˆìŠ¤ê°€ ìŒ“ì´ê³ , ì´í˜¼í•˜ë©´ ë” ìŠ¤íŠ¸ë ˆìŠ¤ ???


#### chisq.test()í•¨ìˆ˜ëŠ” raw (untabulated) ë°ì´í„°ë¥¼ ë°”ë¡œ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ.

In [10]:
library(ISwR)
attach(juul)
summary( juul )
head ( juul )
chisq.test(tanner,sex)

The following objects are masked from juul (pos = 3):

    age, igf1, menarche, sex, tanner, testvol

      age            menarche          sex             igf1
 Min.   : 0.170   Min.   :1.000   Min.   :1.000   Min.   : 25.0
 1st Qu.: 9.053   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:202.2
 Median :12.560   Median :1.000   Median :2.000   Median :313.5
 Mean   :15.095   Mean   :1.476   Mean   :1.534   Mean   :340.2
 3rd Qu.:16.855   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:462.8
 Max.   :83.000   Max.   :2.000   Max.   :2.000   Max.   :915.0
 NA's   :5        NA's   :635     NA's   :5       NA's   :321
     tanner        testvol
 Min.   :1.00   Min.   : 1.000
 1st Qu.:1.00   1st Qu.: 1.000
 Median :2.00   Median : 3.000
 Mean   :2.64   Mean   : 7.896
 3rd Qu.:5.00   3rd Qu.:15.000
 Max.   :5.00   Max.   :30.000
 NA's   :240    NA's   :859

   age menarche sex igf1 tanner testvol
1   NA       NA  NA   90     NA      NA
2   NA       NA  NA   88     NA      NA
3   NA       NA  NA  164     NA      NA
4   NA       NA  NA  166     NA      NA
5   NA       NA  NA  131     NA      NA
6 0.17       NA   1  101      1      NA

	Pearson's Chi-squared test

data:  tanner and sex
X-squared = 28.867, df = 4, p-value = 8.318e-06